.text-boarder-top-bottom-dark {
    border-color: #000000;
}
blockquote {
    position: relative;
    font-size: 1.2em;
    margin: 0 0 1.25em;
    padding: 0 1.25em 0 1.875em;
    border-left: 2px solid #446084;
    font-style: italic;
    color: #333;
}
.dark blockquote {
    color: #fff;
}
.container:after,
.row:after,
.clearfix:after,
.clear:after {
    content: "";
    display: table;
    clear: both;
}
@media (max-width: 549px) {
    [data-show="hide-for-small"],
    .hide-for-small {
        display: none !important;
    }
    .small-text-center {
        text-align: center !important;
        width: 100% !important;
        float: none !important;
    }
}
@media (min-width: 550px) {
    [data-show="show-for-small"],
    .show-for-small {
        display: none !important;
    }
}
@media (min-width: 850px) {
    [data-show="show-for-medium"],
    .show-for-medium {
        display: none !important;
    }
}
@media (max-width: 849px) {
    [data-show="hide-for-medium"],
    .hide-for-medium {
        display: none !important;
    }
    .medium-text-center .pull-left,
    .medium-text-center .pull-right {
        float: none;
    }
    .medium-text-center .ml {
        margin-left: auto;
    }
    .medium-text-center .mr {
        margin-right: auto;
    }
    .medium-text-center {
        text-align: center !important;
        width: 100% !important;
        float: none !important;
    }
}
@media (min-width: 850px) {
    [data-show="hide-for-large"],
    .hide-for-large {
        display: none !important;
    }
}
.full-width,
.expand {
    width: 100% !important;
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    display: block;
}
.pull-right {
    float: right;
    margin-right: 0 !important;
}
.pull-left {
    float: left;
    margin-left: 0 !important;
}
.mb {
    margin-bottom: 30px;
}
.mt {
    margin-top: 30px;
}
.mr {
    margin-right: 30px;
}
.ml {
    margin-left: 30px;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.ml-0 {
    margin-left: 0 !important;
}
.mr-0 {
    margin-right: 0 !important;
}
.mt-0 {
    margin-top: 0 !important;
}
.mb-half {
    margin-bottom: 15px;
}
.mt-half {
    margin-top: 15px;
}
.mr-half {
    margin-right: 15px;
}
.ml-half {
    margin-left: 15px;
}
.mb-half:last-child,
.mb:last-child {
    margin-bottom: 0;
}
.pb {
    padding-bottom: 30px;
}
.pt {
    padding-top: 30px;
}
.pb-half {
    padding-bottom: 15px;
}
.pt-half {
    padding-top: 15px;
}
.pb-0 {
    padding-bottom: 0 !important;
}
.pt-0 {
    padding-top: 0 !important;
}
.no-margin {
    margin: 0 !important;
}
.no-padding {
    padding: 0 !important;
}
.inner-padding {
    padding: 30px;
}
.first-reset *:first-child {
    margin-top: 0;
}
.last-reset *:last-child {
    margin-bottom: 0;
}
.no-select {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-center > div,
.text-center > div > div,
.text-center .is-divider,
.text-center .star-rating,
.text-center .is-star-rating {
    margin-left: auto;
    margin-right: auto;
}
.text-center .pull-right,
.text-center .pull-left {
    float: none;
}
.text-right > div,
.text-right > div > div,
.text-right .is-divider,
.text-right .star-rating,
.text-right .is-star-rating {
    margin-left: auto;
    margin-right: 0;
}
.relative {
    position: relative !important;
}
.absolute {
    position: absolute !important;
}
.fixed {
    position: fixed !important;
    z-index: 12;
}
.top {
    top: 0;
}
.right {
    right: 0;
}
.left {
    left: 0;
}
.bottom {
    bottom: 0;
}
.fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
}
.v-center {
    bottom: auto;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.h-center {
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.h-center.v-center {
    left: auto !important;
    bottom: auto !important;
    right: 50%;
    top: 50%;
    -ms-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.is-full-height {
    min-height: 550px;
    height: 100%;
    height: 100vh;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.bg-fill {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50%;
}
.bg-top {
    background-position: top;
    object-position: top;
}
.circle {
    border-radius: 999px !important;
    object-fit: cover;
}
.circle img {
    border-radius: 999px !important;
    object-fit: cover;
}
.round {
    border-radius: 5px;
}
.has-border {
    border: 2px solid #446084;
    padding: 15px 30px 30px;
}
.dashed-border {
    border-style: dashed;
}
.success-border {
    border-color: #7a9c59;
}
.bt {
    border-top: 1px solid #ececec;
}
.bb {
    border-bottom: 1px solid #ececec;
}
.bl {
    border-left: 1px solid #ececec;
}
.br {
    border-right: 1px solid #ececec;
}
.hidden {
    display: none !important;
    visibility: hidden !important;
}
.is-invisible {
    visibility: hidden;
    opacity: 0;
}
.z-1 {
    z-index: 21;
}
.z-2 {
    z-index: 22;
}
.z-3 {
    z-index: 23;
}
.z-4 {
    z-index: 24;
}
.z-5 {
    z-index: 25;
}
.z-top {
    z-index: 9995;
}
.z-top-2 {
    z-index: 9996;
}
.z-top-3 {
    z-index: 9997;
}
.no-click {
    pointer-events: none;
}
.no-wrap {
    white-space: nowrap;
}
.primary-color {
    color: #446084;
}
.secondary-color {
    color: #d26e4b;
}
.success-color {
    color: #7a9c59;
}
.alert-color {
    color: #b20000;
}
.bg-primary-color {
    background-color: #446084;
}
.bg-secondary-color {
    background-color: #d26e4b;
}
.bg-success-color {
    background-color: #7a9c59;
}
.bg-alert-color {
    background-color: #b20000;
}
.is-transparent {
    background-color: transparent !important;
}
.inline {
    display: inline;
}
.block {
    display: block;
}
@media (max-width: 549px) {
    .small-block {
        display: block;
    }
}
.inline-block {
    display: inline-block;
}
.inline-images img,
img.inline {
    display: inline-block !important;
}
.is-well {
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.02);
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.07), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
}
.no-overflow {
    overflow: hidden;
}
.no-text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.strong {
    font-weight: bold;
}
.op-4 {
    opacity: 0.4;
}
.op-5 {
    opacity: 0.5;
}
.op-6 {
    opacity: 0.6;
}
.op-7 {
    opacity: 0.7;
}
.op-8 {
    opacity: 0.8;
}
@media (max-width: 549px) {
    .sm-touch-scroll {
        overflow-y: none;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}
.no-scrollbar {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
}
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}
