.my-account  {
  padding-top: 50px!important;
  @media screen and (min-width: 850px) {
    .vertical-tabs > .large-9 {
      padding: 27px 40px 36px;
      border: 1px solid #E5E5E5;
      border-radius: 3px;
    }
    .vertical-tabs  > .large-3 {
      border: none;
    }
  }
  @media screen and (max-width: 849px) {
    .vertical-tabs  > .large-3 {
      padding-bottom: 48px;
    }
  }
}
.theme-flatsome .account-nav {

  .woocommerce-MyAccount {
    &-navigation-link {
      border: none;
      a {
        padding: 6px;
        padding-left: 28px;
        position: relative;
        &:before {
          opacity: 1!important;
          content: '';
          display: block;
          position: absolute;
          width: 18px;
          height: 37px;
          top: 0;
          left: 10px;
          right: auto;
        }
      }

      &.active {
        a {
          color: #000;
        }
      }
      &--dashboard {
        a {
          &:before {
            background: url('../images/icon-dashboard.svg') no-repeat center;
            background-size: contain;
          }
        }
        &.active {
          a {
            &:before {
              background: url('../images/icon-dashboard-active.svg') no-repeat center;
              background-size: contain;
            }
          }
        }
      }
      &--orders {
        a {
          &:before {
            background: url('../images/icon-orders.svg') no-repeat center;
            background-size: contain;
          }
        }
        &.active {
          a {
            &:before {
              background: url('../images/icon-orders-active.svg') no-repeat center;
              background-size: contain;
            }
          }
        }
      }
      &--track-order {
        a {
          &:before {
            background: url('../images/icon-track-order.svg') no-repeat center;
            background-size: contain;
          }
        }
        &.active {
          a {
            &:before {
              background: url('../images/icon-track-order-active.svg') no-repeat center;
              background-size: contain;
            }
          }
        }
      }
      &--edit-address {
        a {
          &:before {
            background: url('../images/icon-addresses.svg') no-repeat center;
            background-size: contain;
          }
        }
        &.active {
          a {
            &:before {
              background: url('../images/icon-addresses-active.svg') no-repeat center;
              background-size: contain;
            }
          }
        }
      }
      &--edit-account {
        a {
          &:before {
            background: url('../images/icon-account.svg') no-repeat center;
            background-size: contain;
          }
        }
        &.active {
          a {
            &:before {
              background: url('../images/icon-account-active.svg') no-repeat center;
              background-size: contain;
            }
          }
        }
      }
      &--customer-logout {
        a {
          &:before {
            background: url('../images/icon-logout.svg') no-repeat center;
            background-size: contain;
          }
        }
        &.active {
          a {
            &:before {
              background: url('../images/icon-logout-active.svg') no-repeat center;
              background-size: contain;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 849px) and (min-width: 768px) {
    flex-direction: row!important;
    background: #F7F7FE;
    width: calc(100% + 30px);
    margin-left: -15px;
    position: relative;
    padding-left: 15px;
    li>a {
      padding-top: 11px!important;
      padding-bottom: 11px!important;
      &:before {
        height: 47px!important;
      }
    }
    li:last-child {
      position: absolute;
      right: 0;
      width: auto;
      display: inline-block;
      top: -50px;
      a {
        display: inline-block;
        width: auto;
      }
    }
  }
  @media screen and (max-width: 767px) {

  }
}


.myaccount {
  &-title {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 600;
    color: #000;
    margin-bottom: 0;
  }
  &-name {
    font-size: 14px;
    color: #9E9FA7;
    line-height: 17px;
  }
  &-welcome {
    overflow: hidden;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 600;
    color: #000;
    margin-bottom: 19px;
    span {
      float: right;
      color: #9E9FA7;
      font-size: 14px;
      font-weight: 400;
      a {
        font-weight: 600;
      }
    }
  }
  &-manager {
    max-width: 630px;
    margin-bottom: 30px;
  }
  &__page {
    &__list {
      &--column {
        address {
          font-size: 13px;
          line-height: 1.5;
          width: calc(100% - 140px);
        }
      }
    }
    &--title {
      font-size: 24px;
      margin-bottom: 19px;
      line-height: 1.5;
      overflow: hidden;
      span {
        font-size: 14px;
        line-height: 1.5;
        font-weight: 400;
        float: right;
        strong {
          font-weight: 500;
        }
      }
    }
    &--subtitle {
      font-size: 18px;
      line-height: 1.5;
      color: #000;
      font-weight: 600;
      padding-top: 14px;
    }
    &--small-title {
      font-size: 14px;
      line-height: 1.5;
      font-weight: 600;
    }

  }
  &__button {
    &--submit {
      width: 166px!important;
      margin-right: 0!important;
    }
  }
  &__empty {
    &--text {
      margin-top: 46px;
      font-size: 14px;
      line-height: 1.5;
      color: #9E9FA7;
      margin-bottom: 40px;
      &:before {
        content: '';
        display: block;
        width: 48px;
        height: 44px;
        margin: 0 auto;
        background: url('../images/icon-orders-empty.svg') no-repeat center;
        background-size: contain;
        margin-bottom: 17px;
      }

    }
    &--btn {
      margin-bottom: 77px!important;
      font-size: 16px!important;
      line-height: 42px!important;
      height: 44px!important;
      padding: 0!important;
      width: 166px!important;

    }
  }
  &__order {

    &-detail {
      background: #F7F7FE;
      border-radius: 3px;
      display: flex;
      padding: 30px 32px 26px;
      margin-bottom: 33px;
      &>div {
        flex: 1;
      }
    }
    &--again {
      .order-again {
        text-align: right;
        a {
          margin-right: 0;
          font-size: 16px;
          line-height: 1.5;
          padding: 10px;
          min-width: 166px;
          text-transform: capitalize;
        }
        @media screen and (max-width: 767px) {
          text-align: center;
          margin-top: 30px;
          a {
            width: 100%;
            max-width: 300px;
            margin-bottom: 0;
          }
        }
      }
    }
    &--label {
      font-size: 12px;
      font-weight: 500;
      line-height: 1.5;
      color: #505261;
    }
    &--value {
      font-size: 16px;
      line-height: 500;
      color: #000;
      line-height: 1.5;
    }
    &__status {
      &:before {
        content: '';
        display: inline-block;
        margin-right: 7px;
        line-height: 24px;
        vertical-align: bottom;
      }
      &.status-processing {
        &:before {
          width: 23px;
          height: 14px;
          background: url('../images/icon-status-processing.svg') no-repeat center;
          background-size: contain;
        }
      }
      &.status-pending {
        &:before {
          width: 30px;
          height: 21px;
          background: url('../images/icon-status-pending.svg') no-repeat center;
          background-size: contain;
        }
      }
      &.status-on-hold {
        &:before {
          width: 21px;
          height: 21px;
          background: url('../images/icon-status-onhold.svg') no-repeat center;
          background-size: contain;
        }
      }
      &.status-completed {
        &:before {
          width: 21px;
          height: 21px;
          background: url('../images/icon-status-completed.svg') no-repeat center;
          background-size: contain;
        }
      }
      &.status-failed {
        &:before {
          width: 21px;
          height: 21px;
          background: url('../images/icon-status-failed.svg') no-repeat center;
          background-size: contain;
        }
      }
      &.status-cancelled {
        &:before {
          width: 21px;
          height: 21px;
          background: url('../images/icon-status-cancelled.svg') no-repeat center;
          background-size: contain;
        }
      }
      &.status-refunded {
        &:before {
          width: 21px;
          height: 21px;
          background: url('../images/icon-status-refunded.svg') no-repeat center;
          background-size: contain;
        }
      }
    }
    &__item {
       td {
        border: 0!important;
      }
      .woocommerce-table__product-name.product-name {
        padding-left: 0;
      }
      .woocommerce-table__product-total.product-total {
        padding-right: 0;
      }
      &+& {
        td {
          border-top: 1px solid #e5e5e5!important;
        }
      }
      &--link {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }
      &--img {
        width: 80px;
        overflow: hidden;
        min-width: 80px;
      }
      &--content {
        width: calc(100% - 80px);
        padding-left: 20px;
      }
    }
    &--tracking {
      form {
        max-width: 580px;
        p.form-row-first {
          @media screen and (min-width: 768px) {
            margin-right: 18px;
          }
        }
      }
    }
  }
  &__total {
    &--shipping {
      display: flex;
      flex-direction: row-reverse;
      white-space: nowrap;
      align-items: center;
      .shipped_via {
        font-size: 12px;
        line-height: 1.5;
        margin-right: 6px;
        &:before {
          content: '(';
        }
        &:after {
          content: ')';
        }

      }
    }
  }
  @media screen and (min-width: 768px) {

    &__page {
      &__list {
        display: flex;
        overflow: hidden;

        &--column {
          width: 67%;
          >section {
            flex-wrap: wrap;
          }
        }
        &--title {
          width: 33%;
        }

        &--table {
          width: 67%;
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    &__order {
      &-detail {
        width: calc(100% + 30px);
        margin-left: -15px;
        padding-left: 16px;
        padding-right: 16px;
        justify-content: space-between;
        >div {
          flex: auto;
        }
      }
      &--label {
        font-size: 11px;
      }
      &--value {
        font-size: 14px;
      }
    }
    &__page {
      &__list {
        .tr-btn {
          td {
            text-align: left!important;
            margin-bottom: 0!important;
            a {
              width: 100%!important;
            }
          }
        }
        table {
          th:first-child, td:first-child {
            padding-left: 14px!important;
          }
          th:last-child, td:last-child {
            padding-right: 14px!important;
          }
        }
        &--title {
          padding-left: 14px;
        }
      }
    }
    &__nav--mobile {
      border-radius: 3px;
      border: 1px solid rgba(0,0,0,.2);
      padding: 3px 0 3px 18px!important;
      cursor: pointer;
      position: relative;
      &:after {
        content: '';
        display: block;
        width: 8px;
        height: 4px;
        background: url('../images/icon-arrow.svg') no-repeat center;
        background-size: contain;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        transition: transform ease-in-out .3s;
      }
      +ul {
        position: absolute;
        background: #fff;
        z-index: 1;
        padding: 0;
        border: 1px solid rgba(0,0,0,0);
        border-radius: 3px;
        max-height: 0;
        overflow: hidden;
        transition: max-height ease-in-out .3s;
        margin-top: 2px;

        li {
          padding-left: 18px;
          &.is-active {
            display: none;
          }
        }
      }
      &.is-active {
        &:after {
          transform: rotate(180deg);
        }
        +ul {
          max-height: 100vh;
          border: 1px solid rgba(0,0,0,0.2);

        }
      }
      a {
        pointer-events: none;
      }
      li {
        display: none!important;
      }
      .active {
        display: block!important;
      }
    }
  }
  &__form-back {
    float: right;
    &--btn {
      font-size: 12px;
      line-height: 24px;
      height: 26px;
      border: 1px solid rgba(0,0,0,.2);
      font-weight: 600;
      background: transparent!important;
      padding: 0 10px;
    }
  }
}
.myaccountorder {
  @media screen and (max-width: 767px) {
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    padding-top: 6px;
    &__block {

      table {
        margin-bottom: 0!important;
      }
    }
    &__address {
      border: 1px solid rgba(0,0,0,0.2);
      border-radius: 3px;
      padding: 20px 14px;
      margin-top: 16px;
      .myaccount__page__list--title {
        padding-left: 0;
        padding-bottom: 14px;
      }
      .myaccount__page__list {
        display: flex;
        h2 {
          width: 140px;
        }
      }
    }
  }
}
.order_details {
  tfoot {
    tr:not(:last-child) td, tr:not(:last-child) th {
      border-bottom: 1px solid #e5e5e5;
      padding: 10px 0;
    }
    tr:nth-last-child(2) td,tr:nth-last-child(2) th {
      border-bottom: 0;
    }
  }
}
.dashboard-links-flagwix {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
  justify-content: space-between;
  >li {
    width: calc(25% - 12px);
    text-align: center;
    margin: 0;
    position: relative;

    a {
      background: #F7F7FE;
      height: 0;
      display: block;
      border-radius: 3px;
      position: relative;
      padding-top: 100%;
      span {
        min-width: 18px;
        padding: 0 3px;
        height: 18px;
        display: inline-block;
        margin-left: 4px;
        background: #53A42F;
        text-align: center;
        font-size: 12px;
        line-height: 18px;
        border-radius: 50%;
        color: #fff;
      }
    }
    .dashboard__item {
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      &:before {
        display: block;
        content: '';
        margin: 0 auto;
        margin-bottom: 16px;
        height: 48px;

      }
      &.orders {
        &:before {
          width: 48px;
          background: url('../images/dashboard-orders.svg') no-repeat bottom;
          background-size: contain;
        }
      }
      &.track-order {
        &:before {
          width: 50px;
          background: url('../images/dashboard-track.svg') no-repeat bottom;
          background-size: contain;
        }
      }
      &.edit-address {
        &:before {
          width: 50px;
          background: url('../images/dashboard-address.svg') no-repeat bottom;
          background-size: contain;
        }
      }
      &.edit-account {
        &:before {
          width: 50px;
          background: url('../images/dashboard-account.svg') no-repeat bottom;
          background-size: contain;
        }
      }
    }
    @media screen and (min-width: 768px) {
      &+li {
        margin-left: 16px;
      }
    }
    @media screen and (max-width: 767px) {
      width: calc(50% - 7px);
      margin-top: 14px;
      &:first-child, &:nth-child(2) {
        margin-top: 0;
      }
      &:nth-child(even) {
        margin-left: 14px;
      }
    }
  }
}
.d-none {
  display: none!important;
}
.d-block {
  display: block!important;
}
@media screen and (min-width: 768px) {
  .d-md-none {
    display: none!important;
  }
  .d-md-block {
    display: block!important;
  }
  .d-md-flex {
    display: flex!important;
  }
}
.p-relative {
  position: relative;
}
@media screen and (max-width: 767px) {
  .myaccount {
    overflow: hidden;
    margin-bottom: 14px;
    padding: 0 4px;
    &-title {
      display: inline-block;
      float: left;
      width: auto;
    }
    &-name {
      float: right;
      margin-right: 3px;
    }

  }
}
.woocommerce-info {
  text-align: center;
  &>p {

  }
}
@media screen and (max-width: 845px) {
  .woocommerce-MyAccount-content {
    .touch-scroll-table {
      overflow: hidden;
      box-shadow: none;
      width: 100%;
      margin: 0;
    }
  }
}
.woocommerce-orders-table {
  margin-top: 30px;
  td:first-child {
    font-weight: 500;
    text-align: left;
    padding-left: 0!important;
    border-left: none!important;
  }
  td:last-child {
    padding-right: 0!important;
    border-right: none!important;
  }
  th:last-child {
    padding-right: 18px!important;
  }
  td:nth-child(3) {
    font-weight: 500;
    color: #000;
  }
  tbody tr:last-child {
    td {
      border-bottom: 0!important;
    }
  }
  @media screen and (max-width: 767px) {
    th:nth-child(2), th:nth-child(4), td:nth-child(2), td:nth-child(4) {
      display: none!important;
    }
  }
  .woocommerce-Price-amount, .woocommerce-Price-currencySymbol {
    font-weight: 400;
  }
  .woocommerce-button {
    background: #fff;
    border: 1px solid rgba(0,0,0,.2);
    color: #000;
    font-weight: 600;
    line-height: 24px;
    height: 26px;
    min-width: 63px;
    text-align: center;
    border-radius: 3px;
    margin-right: 0;
    &:hover {
      color: #000;
    }
  }
}
.woocommerce-Addresses {
  display: table;
  border-collapse:separate;
  border-spacing: 20px 30px;
  .woocommerce-Address {
    display: table-row;

    &-title, address, a {
      display: table-cell;

    }
    &-title {
      h3 {
        font-size: 14px;
        line-height: 21px;
      }
    }
    address {
      color: #505261;
      strong {
        color: #9E9FA7;
        display: block;
      }
    }
    a {
      font-size: 12px;
      line-height: 24px;
      width: 58px;
      font-weight: 600;
      border: 1px solid rgba(0, 0, 0, 0.2);
      height: 26px;
      text-align: center;
      display: block;
      border-radius: 3px;
      padding: 0;
    }
  }
  @media screen and (max-width: 767px) {
    display: block;
    .woocommerce-Address {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-row-gap: 10px;
      margin-bottom: 22px;
      a {
        grid-column: 2 / 3;
      }
    }
  }
}
.text-normal {
  font-size: 14px;
  line-height: 1.5;
  color: #505261;
}
.woocommerce-form-row {
  select {
    height: 65px!important;
  }
  .select2-selection {
    height: 65px!important;
  }
  .select2-selection__rendered {
    padding-top: 25px!important;
  }
}
.bg-about {
  background: #F7F7FE;
}
.pt-0 {
  padding-top: 0!important;
}
.order_total {
  font-size: 14px!important;
  line-height: 1.5;
  color: #000;
  font-weight: 500!important;
  &.shipping {

  }
}
.error-message {
  color: red;
  margin-bottom: 20px;
}
